{% extends 'blog/base.html' %}
{% load static %}

{% block contact %}
<br> <br><br><br>
<div class="container">
    <div class="row featurette">
        <div class="col-md-7">
        <h2 class="featurette-heading">Mp3 Player<br><span class="text-muted">Desktop App</span></h2>
        <p class="lead">It is a software application purely built on Python having functionalities of browsing folders, adding songs, making favourites, etc.</p>
        </div>
        <div class="col-md-5">
                <img src="{% static 'blog/images/19.png' %}" width="300" height="250" alt="">
        </div>
    </div>
</div>    
{% endblock contact %}