{% extends 'blog/base.html' %}
{% load static %}

{% block contact %}
<br> <br><br><br>
<div class="container">
    <div class="row featurette">
        <div class="col-md-7">
        <h2 class="featurette-heading">Employee Management System: <br><span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">It is a JAVA based mini project in which the details of employee are inserted and retrieved by their Employee ID.</p>
        </div>
        <div class="col-md-5">
        <img src="{% static 'blog/images/13.jpg' %}" width="400" height="220" alt="">
        </div>
    </div>
</div>    
{% endblock contact %}